# Copy this file to credentials.txt (which is gitignored, so your keys are never
#  committed), fill in your keys, and run `source credentials.txt` to export them
#  into your current terminal.
#
#     cp credentials.txt.sample credentials.txt

export OPENAI_API_KEY=
export TAVILY_API_KEY=
export ASTRA_DB_APPLICATION_TOKEN=
export ASTRA_SCB_PATH=

# only needed if switching provider, see pom.xml and application.properties
#export ANTHROPIC_API_KEY=
#export WATSONX_API_KEY=
